__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
dist/
.mypy_cache/
.pytest_cache/
.DS_Store
.coverage
coverage.xml
*.egg-info/
.vscode/
results/
*.log
*.mp4
*.npz
rl/linear_policy.npz
v2/rl/*.npz
talos_data/meshes/**