# General Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
dist/
.mypy_cache/
.pytest_cache/
.DS_Store
.coverage
coverage.xml
*.egg-info/
.vscode/
# Project Specific
results/
talos_data/
archive/
report_tex/
archive/
*.log
*.mp4
*.npz
# *.gif (Allow GIFs for README)
# assets/ (Allow assets for README)

